
<!DOCTYPE html>
<html lang="" data-ng-app="GoogleDirection">
<head>
  <meta t="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    
  <link rel="stylesheet" href="css/main.css">  
    
    <style>
     #map-canvas {
    width: 950px;
    height: 350px;
    
}
      .weatherModule {
display: inline-block;    
background:#FFA500;
    height:150px;
    width:150px;
    border: 1px dashed #ccc;
    padding: 1em;
    float:left;
}
  .weatherModule1 {
	display: inline-block; 
   background:#FF00FF;
    height:150px;
    width:150px;
    border: 1px dashed #ccc;
    padding: 1em;
    float:right;
}



.currentConditions {
    float: left;
}
.currentConditions1 {
    float: middle;
}
.weatherModule {
    padding: 1em;
}

.currentIcon {
    float: left;
    margin: 0 .75em;
}
.auto-style1 {
            width: 100%;
            height: 8px;
        }
.auto-style2 {
            font-size: x-large;
        }
.auto-style3 {
            color: #00FFFF;
        }
    </style>
</head>

<body>
<table class="auto-style1" style="background-image: url('img/logo.jpg'); font-size: 8px">
            <tr>
                <td class="auto-style2">
                    <h1 class="auto-style3">Sample Project</h1>
                </td>
            </tr>
</table>
<table align="center" width"800">
<tr><td width="500"></td><td>
<a href="login.html"><input type="button" value="Home"</a></td></tr></table>

<h1 id="heading">EmailID :</h1>

<div class="wrapp" ng-controller="googlemapoutput">
         <div class="row">
		 <label> Source State</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type="text" ng-model="sstate" id="sstate"/>
             <label> Source City</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type="text" ng-model="startlocation" id="startlocation"/>&nbsp;&nbsp;&nbsp;&nbsp;
             <a id="link-1" href ng-click="getMyPos()">Get Current position</a>
             <br>
             <br>
			  <label>Destination State</label>&nbsp;
             <input type="text"  ng-model="dstate" id="dstate" /> 
             <label>Destination City</label>&nbsp;
             <input type="text"  ng-model="endlocation" id="endlocation" /> 
             <br><br>
                <button id="btn" ng-click="calcRoute();getWeather();">
                    Get Direction and Weather
                </button>
                 <br/></br>

<div class="weatherModule" style="display:none;">
   
<p class="currentConditions">Current Temperature: {{temp}} &deg F <br/> weather condition: {{weather}}</p>
<div class="currentIcon"><img src="{{icon}}"/></div></td>
</div>
 <div class="weatherModule1" style="display:none;">
<p >Current Temperature: {{temp1}} &deg F <br/> weather condition: {{weather1}}</p>
<div class="currentIcon"><img src="{{icon1}}"/></div>
</div> 

          
            <div id="map-canvas" style="height: 400px;"></div>
        </div>
    </body>
</html>


<script>
angular.module('GoogleDirection', [])
.controller('googlemapoutput', function ($scope,$http) {

    var map;
    var mapOptions;
    var directionsDisplay = new google.maps.DirectionsRenderer({
        draggable: true
    });
    var directionsService = new google.maps.DirectionsService();
    $scope.initialize = function () {
   var ser = window.location.search;
	String(ser);
	var fields = String(ser).split("&");
	var data = String(fields[0]).split("=");
	document.getElementById("heading").innerHTML = "EMAIL ID: "+data[1];
          var pos = new google.maps.LatLng(0, 0); 
          var mapOptions = {
                zoom: 3,
                center: pos
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
     };
    $scope.calcRoute = function () {
       var end = document.getElementById('endlocation').value;
            var start = document.getElementById('startlocation').value;
            if(start.length==0){
            document.getElementById('startlocation').value='Kansas City'
            }
            var url1 = 'http://api.openweathermap.org/data/2.5/weather?q='+start;
            var url2 = 'http://api.openweathermap.org/data/2.5/weather?q='+end;
            var t1,t2,t3,t4;

             $http.get(url1).
                success(function(data) {
                 t1=data.main.temp;
                   t2= data.weather[0].description;
                 // $scope.currentweather = {html:"Currently " +t1 +" &deg; F and " + t2 + ""}
                
                });
            $http.get(url2).
                success(function(data) {
                   t2= data.main.temp;
                });
        
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setMap(map);
                    directionsDisplay.setDirections(response);
                    console.log(status);
                }
           
        });
    };
    $scope.getWeather = function() {
	var sstate = document.getElementById('sstate').value;
	var start = document.getElementById('startlocation').value;
	var dstate = document.getElementById('dstate').value;
	var end = document.getElementById('endlocation').value;
	
$http.get(   'http://api.wunderground.com/api/36b799dc821d5836/conditions/q/'+sstate+'/'+start+'.json').success(function(data) {
					document.querySelector(".weatherModule").style.display = 'block';
          $scope.temp = data.current_observation.temp_f;
               $scope.icon = data.current_observation.icon_url;
                $scope.weather = data.current_observation.weather;                  
})

$http.get(   'http://api.wunderground.com/api/36b799dc821d5836/conditions/q/'+dstate+'/'+end+'.json').success(function(data) {
					document.querySelector(".weatherModule1").style.display = 'block';
          $scope.temp1 = data.current_observation.temp_f;
               $scope.icon1 = data.current_observation.icon_url;
                $scope.weather1 = data.current_observation.weather;  
					
})
}
  
    $scope.getMyPos = function () {
        
         navigator.geolocation.getCurrentPosition(function (position) {

            var pos = new google.maps.LatLng(
            position.coords.latitude,
            position.coords.longitude);

            var mapOptions = {
                zoom: 16,
                center: pos
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

            var marker = new google.maps.Marker({
                position: pos,
                map: map
            });
        });
        
        
     };
    
        

    google.maps.event.addDomListener(window, 'load', $scope.initialize);

});         
                

</script>