<ion-view title="Major markets">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-icon-left" ng-repeat="market in markets" href="" ng-click="goWeb(market)">
                <i class="icon ion-arrow-graph-up-right"></i>
                {{market.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
