 <div ng-controller="ShareControllers">
<ion-view view-title="Singleton">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Mixin Pattern Example</div>
      <div class="item item-body">
        <div>
         <h4> Greetings Ashok Yaganti</h4>      
<button ng-click='showResults()'>Show/Hide Results</button><br/>

      <div>
         {{ greeting()}}
      </div>
      <button ng-click='showResults()'>Show/Hide Results</button>
      <div ng-repeat="subject in student.subjects">
        <div ng-show='results'>
           result for: {{company.name}} = {{symbol.shares}}
        </div>
      </div>
      
    </div>

		 
        </div>
		
      </div>
    </div>
   
  </ion-content>
</ion-view>


	